/*------------------------------------*\
  COLOR
\*------------------------------------*/  
$text-color: #000;
$footer-text-color: #707070;
$shadow: #B8B8B8;
$overlay-box: #eeeeee;

//dark theme
$text-dark-color: #FFFFFF;
$border-dark-color: #673AB7;
$shadow-dark: #8b5adb;
$background: #121212;

/*------------------------------------*\
  MEDIA QUERY DEVICE WIDTH
\*------------------------------------*/  
$non-retina-width: 1440px;
$mobile-width: 850px;
